#allocations
{
    grid-area: allocations;
}

.allocations
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title machines"
                         "counters machines";
    grid-column-gap: 32px;
}

.allocations > h1
{
    grid-area: title;
}

.allocations > .counters
{
    grid-area: counters;
    overflow: hidden;
}

.allocations .counter.dark
{
    background-color: #0D47A1 !important;
}

.allocations .counter.medium
{
    background-color: #1565C0 !important;
}

.allocations .counter.light
{
    background-color: #1976D2 !important;
}

.allocations > .machines
{
    grid-area: machines;
}

.allocations > .machines ul.list > li
{
    grid-template-columns: auto 1fr auto 24px 24px 24px 32px;
    grid-template-areas: "model customer wanted electrical anticipated docs flag";
    grid-column-gap: 24px;
    align-items: baseline;
}

.allocations > .machines ul.list > li > .model
{
    grid-area: model;
}

.allocations > .machines ul.list > li > .customer
{
    grid-area: customer;
}

.allocations > .machines ul.list > li .activity
{
    display: inline;
}

.allocations > .machines ul.list > li .activity::before
{
    content: ' (';
}

.allocations > .machines ul.list > li .activity::after
{
    content: ')';
}

.allocations > .machines ul.list > li > .wanted
{
    grid-area: wanted;
}

.allocations > .machines ul.list > li > .wanted > i.icon
{
    -webkit-margin-end: 8px;
    -moz-margin-end: 8px;
}

.allocations > .machines ul.list > li > .electrical
{
    grid-area: electrical;
}

.allocations > .machines ul.list > li > .docs
{
    grid-area: docs;
}

.allocations > .machines ul.list > li > .anticipated
{
    grid-area: anticipated;
}

.allocations > .machines ul.list > li > .flag
{
    grid-area: flag;
}

/**
 * Smiley
 */
.smile
{
    text-align: center;
}

.smile::before
{
    content: '\e900';
    font-family: 'AI Icons';
    font-size: 128px;
    display: block;
    color: #EEEEEE80;
}
