.avatar
{
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-weight: 300;
    border-radius: 100%;
    background-color: #616161;
}

.avatar.color1
{
    background-color: #F44336;
}

.avatar.color2
{
    background-color: #9C27B0;
}

.avatar.color3
{
    background-color: #3F51B5;
}

.avatar.color4
{
    background-color: #03A9F4;
}

.avatar.color5
{
    background-color: #009688;
}

.avatar.color6
{
    background-color: #8BC34A;
}

.avatar.color7
{
    background-color: #FF9800;
}

.avatar.color8
{
    background-color: #795548;
}
