/* Image de fond */
.background
{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    /* background-image: url('../img/Chantier_Nouveau_stade_Bordeaux_nov_2013.JPG'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.05);
    transform-origin: top;
}

/* Dégradé sombre sur l'image de fond */
.background:after
{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.25) 25%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Image de fond floutée */
.background:before
{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
