.counters
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}

.counter
{
    padding: 8px;
    height: 96px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "label label"
                         "problems number";
    grid-column-gap: 32px;
    background-color: #808080;
}

.counter .label
{
    grid-area: label;
    align-self: start;
    color: #EEEEEE80;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}

.counter .number
{
    grid-area: number;
    justify-self: end;
    align-self: end;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1;
}

.counter .number .secondary
{
    display: inline;
    font-weight: 600;
    font-size: 0.5em;
    color: #EEEEEEC0;
    -webkit-margin-start: 8px;
    -moz-margin-start: 8px;
}

.counter .number .secondary::before
{
    content: '(';
}

.counter .number .secondary::after
{
    content: ')';
}

.counter .problems
{
    font-weight: 600;
    font-size: 1.5em;
    color: #FFC107;
    align-self: flex-end;
    justify-self: end;
    display: flex;
    align-items: center;
}

.counter .problems::before
{
    content: '\f12a';
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    color: #BF360C;
    background-color: #FFC107;
    text-align: center;
    line-height: 32px;
    vertical-align: baseline;
    -webkit-margin-end: 4px;
    -moz-margin-end: 4px;
}
