.flag
{
    font-weight: 900;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    top: -1px;
    overflow: hidden;
    z-index: 1;
}

.flag::before
{
    content: '\f024';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 32px;
    font-style: normal;
    color: #616161;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 1px;
}

.flag.color1::before
{
    color: #F44336;
}

.flag.color2::before
{
    color: #9C27B0;
}

.flag.color3::before
{
    color: #3F51B5;
}

.flag.color4::before
{
    color: #03A9F4;
}

.flag.color5::before
{
    color: #009688;
}

.flag.color6::before
{
    color: #8BC34A;
}

.flag.color7::before
{
    color: #FF9800;
}

.flag.color8::before
{
    color: #795548;
}
