html, body
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    background-color: #333333;
    color: #EEEEEE;
    font-family: "AI Source Sans Pro";
    font-size: 28px;
    overflow: hidden;
}

.small, h1, h2
{
    font-size: 0.8em;
}
 
.text50, h1, h2
{
    opacity: 0.5;
}
 
h1
{
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}
 
h2
{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 8px 0;
}
 
.ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fresh {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.fresh
{
    animation: fresh 3s infinite;
}
 
.warning
{
    background-color: #00000040;
    /* background-color: #BF360CC0;
    color: #FFC107; */
}
 
.fresh, .warning, .expanded
{
    -webkit-padding-start: 16px !important;
    -moz-padding-start: 16px !important;
    -webkit-margin-start: -16px !important;
    -moz-margin-start: -16px !important;
    -webkit-padding-end: 16px !important;
    -moz-padding-end: 16px !important;
    -webkit-margin-end: -16px !important;
    -moz-margin-end: -16px !important;
}
 
ul.list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.list > li
{
    display: grid;
}

ul.list + h2
{
    border-top: 1px solid #EEEEEE20;
    padding-top: 8px;
    margin-top: 8px;
}

.level
{
    color: #000000;
    background-color: #EEEEEE;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 100%;
    font-weight: 700;
}
