i.icon
{
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 24px;
}

i.icon.wanted::before
{
    content: '\f004';
}

i.icon.docs::before
{
    content: '\f15c';
}

i.icon.anticipated::before
{
    content: '\f274';
}

i.icon.transfer:before
{
    content: '\f362';
    font-weight: 900;
}

i.icon.inventory:before
{
    content: '\f0ae';
    font-weight: 900;
}

i.icon.timer:before
{
    content: '\f017';
}

i.icon.electrical:before
{
    content: '\f1e6';
    font-weight: 900;
}

i.icon.asbestos:before
{
    content: '\f071';
    font-weight: 900;
}

i.icon.self:before
{
    content: '\f007';
}

i.icon.badge:before
{
    content: '\f0a3';
}

i.icon.duration:before
{
    content: '\f2f2';
    font-weight: 900;
}

i.icon.outside:before
{
    content: '\f2f5';
    font-weight: 900;
}
