.content
{
    display: grid;
    height: 94vh;
    grid-template-rows: 5vh 1fr auto;
    grid-template-areas: "header" "body" "footer";
    padding: 3vh 3vw;
}

.content > *
{
    overflow: hidden;
}

/* En-tête */
header
{
    grid-area: header;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    font-size: 36px;
    overflow: hidden;
}

header > *
{
    align-self: center;
}

header > .logo
{
    grid-column: 1;
    background-image: url('../img/Logo-ai-2017-tv.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10vw;
    height: 100%;
}

header > .agency
{
    grid-column: 2;
    font-family: "AI Champagne & Limousines";
    font-weight: bold;
    color: #39749b;
    -webkit-margin-start: 16px;
    -moz-margin-start: 16px;
}

header > .date
{
    grid-column: 3;
    text-align: end;
    font-weight: 600;
    opacity: 0.5;
    -webkit-margin-end: 32px;
    -moz-margin-end: 32px;
}

header > .time
{
    grid-column: 4;
    text-align: end;
    font-weight: 300;
}

/* Corps */
section
{
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "allocations allocations" "to-prepare recoveries";
    grid-gap: 4px;
    padding: 2vh 0;
}

section > .block
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    overflow: hidden;
}

/* Pied */
footer
{
    grid-area: footer;
    font-size: 0.8em;
    text-align: center;
    color: #EEEEEE80;
}

.details
{
    width: 100%;
    justify-self: center;
    overflow: hidden;
}

.empty
{
    align-self: center;
}
