dl.legend
{
    overflow: inherit;
    margin: 0;
    display: grid;
    grid-template-columns: 64px auto;
    grid-row-gap: 4px;
    align-items: center;
}

dl.legend dt,
dl.legend dd
{
    position: relative;
    float: left;
}

dl.legend dt
{
    clear: both;
    width: 64px;
    text-align: center;
    white-space: nowrap;
    justify-self: center;
}

dl.legend dd
{
    -moz-margin-start: 16px;
    -webkit-margin-start: 16px;
}

dl.legend .level,
dl.legend .flag,
dl.legend .avatar
{
    display: inline-block;
}

dl.legend .counter
{
    padding: inherit;
    height: inherit;
    background: inherit;
    display: inherit;
}

dl.legend .counter .number .secondary
{
    -webkit-margin-start: inherit;
    -moz-margin-start: inherit;
}
