ul.machines
{
    grid-area: machines;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.machines > li
{
    display: grid;
    grid-template-columns: 3em 1fr;
    grid-template-areas: "parkNumber model";
    grid-column-gap: 24px;
    align-items: baseline;
}

ul.machines > li > .parkNumber
{
    grid-area: parkNumber;
}

ul.machines > li > .model
{
    grid-area: model;
}
