.paging
{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "body"
                         "pages";
    overflow: hidden;
}

.paging > .body
{
    grid-area: body;
}

.paging > .pages
{
    grid-area: pages;
    align-self: end;
    text-align: center;
}

.paging.dynamic > .body > .page
{
    height: 0;
}

@keyframes body-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes body-opacity-reverse {
    from { opacity: 1; }
    to { opacity: 0; }
}

.paging.dynamic > .body > .page.hidden
{
    animation: body-opacity-reverse 500ms both;
}

.paging.dynamic > .body > .page:not(.hidden)
{
    animation: body-opacity 500ms both 500ms;
}

@keyframes pages-opacity {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

@keyframes pages-opacity-reverse {
    from { opacity: 1; }
    to { opacity: 0.5; }
}

.paging > .pages .page
{
    animation: pages-opacity 500ms both 500ms;
}

.paging > .pages .page:before
{
    content: '\2022';
    margin: 0 4px;
}

.paging > .pages .page:not(.active)
{
    animation: pages-opacity-reverse 500ms both;
}
