#recoveries
{
    grid-area: recoveries;
}

.recoveries
{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title"
                         "machines";
}

#recoveries > h1
{
    grid-area: title;
}

#recoveries > .machines
{
    grid-area: machines;
}

.recoveries ul.machines > li
{
    grid-template-columns: 3em 24px 24px 1fr 3em 24px 3em 32px;
    grid-template-areas: "parkNumber transfer level model days inventory timer flag";
}

.recoveries ul.machines > li > .days
{
    grid-area: days;
}

.recoveries ul.machines i.icon.outside
{
    -webkit-margin-end: 8px;
    -moz-margin-end: 8px;
}

.recoveries ul.machines > li > .transfer
{
    grid-area: transfer;
}

.recoveries ul.machines > li > .level
{
    grid-area: level;
}

.recoveries ul.machines > li > .inventory
{
    grid-area: inventory;
}

.recoveries ul.machines > li > .timer
{
    grid-area: timer;
}

.recoveries ul.machines i.icon.timer
{
    -webkit-margin-end: 8px;
    -moz-margin-end: 8px;
}

.recoveries ul.machines > li > .flag
{
    grid-area: flag;
}
