#to-prepare
{
    grid-area: to-prepare;
}

.to-prepare
{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title"
                         "counters"
                         "machines";
}

#to-prepare > h1
{
    grid-area: title;
}

#to-prepare > .counters
{
    grid-area: counters;
}

#to-prepare > .machines
{
    grid-area: machines;
    margin-top: 16px;
}

.to-prepare .counter.dark
{
    background-color: #004D40 !important;
}

.to-prepare .counter.medium
{
    background-color: #00695C !important;
}

.to-prepare .counter.light
{
    background-color: #00796B !important;
}

.to-prepare ul.machines > li
{
    grid-template-columns: 3em 1fr 3em 24px 24px 24px;
    grid-template-areas: "parkNumber model duration electrical asbestos anticipated";
}

.to-prepare ul.machines > li > .duration
{
    grid-area: duration;
}

.to-prepare ul.machines i.icon.duration
{
    -webkit-margin-end: 8px;
    -moz-margin-end: 8px;
}

.to-prepare ul.machines > li > .electrical
{
    grid-area: electrical;
}

.to-prepare ul.machines > li > .asbestos
{
    grid-area: asbestos;
}

.to-prepare ul.machines > li > .anticipated
{
    grid-area: anticipated;
}
