ul.transports > li
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "avatar driver id"
                         "avatar machines machines";
    grid-column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

ul.transports > li:not(:last-child)
{
    padding-bottom: 8px;
    border-bottom: 1px solid #EEEEEE20;
}

ul.transports > li > .avatar
{
     grid-area: avatar;
     align-self: start;
     text-align: center;
     -webkit-margin-end: 8px;
     -moz-margin-end: 8px;
}

ul.transports > li > .id
{
    grid-area: id;
    border: 1px solid #EEEEEE;
    margin: 4px 0;
    padding: 2px 8px;
}

ul.transports > li > .driver
{
    grid-area: driver;
    font-weight: 600;
}
