<h1>Attributions</h1>
<div class="counters">
    <div class="counter dark">
        <div class="label">Demain</div>
        <div class="number">5</div>
        <?php if (!$cool): ?><div class="problems">2</div><?php endif; ?>
    </div>
    <div class="counter medium">
        <div class="label">Après-demain</div>
        <div class="number">2</div>
        <?php if (!$cool): ?><div class="problems">3</div><?php endif; ?>
    </div>
    <div class="counter light">
        <div class="label">Lundi</div>
        <div class="number">8</div>
    </div>
</div>

<div class="machines <?php echo ($cool ? 'empty smile' : 'paging dynamic expanded'); ?>">
    <?php if (!$cool): ?>
    <div class="details body expanded">
        <div class="page">
            <h2>Demain</h2>
            <ul class="list">
                <li class="fresh">
                    <div class="model">800 AJ</div>
                    <div class="customer text50 small ellipsis">RAZEL BEC<div class="activity">Divers installation et finition</div></div>
                    <div class="wanted"><i class="icon wanted"></i>6897</div>
                    <div class="docs text50"><i class="icon docs"></i></div>
                    <div class="anticipated text50"><i class="icon anticipated"></i></div>
                </li>
                <li class="warning fresh">
                    <div class="flag color1">A</div>
                    <div class="model">260 MRT</div>
                    <div class="customer text50 small ellipsis">ELTIS<div class="activity">Installation électrique</div></div>
                    <div class="electrical text50"><i class="icon electrical"></i></div>
                    <div class="anticipated text50"><i class="icon anticipated"></i></div>
                </li>
            </ul>
            <h2>Après-demain</h2>
            <ul class="list">
                <li class="warning">
                    <div class="flag color2">B</div>
                    <div class="model">ZEBRA 12</div>
                    <div class="customer text50 small ellipsis">PIC ANNECY<div class="activity">Menuiserie métal/Serrurerie</div></div>
                    <div class="wanted"><i class="icon wanted"></i>9842</div>
                </li>
            </ul>
        </div>
        <div class="page">
            <h2>Après-demain</h2>
            <ul class="list">
                <li>
                    <div class="model">N01L18HQ</div>
                    <div class="customer text50 small ellipsis">AXIMA REFRIGERATION FRANCE ST PRIEST<div class="activity">Chauffage/Climatisation</div></div>
                    <div class="electrical text50"><i class="icon electrical"></i></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="pages">
        <span class="page active"></span>
        <span class="page"></span>
    </div>
    <?php endif; ?>
</div>
