<h1>Récupérations du jour</h1>
<div class="machines paging dynamic expanded">
    <div class="details body expanded">
        <ul class="page list transports">
            <li>
                <div class="avatar color3"><i class="icon self"></i></div>
                <ul class="machines">
                    <li>
                        <div class="parkNumber">9842</div>
                        <div class="model text50 ellipsis">ZEBRA 12</div>
                        <div class="days text50"><i class="icon outside"></i>24</div>
                    </li>
                    <li class="warning">
                        <div class="flag color1">A</div>
                        <div class="parkNumber">6897</div>
                        <div class="model text50 ellipsis">260 MRT</div>
                        <div class="level text50">4</div>
                        <div class="days text50"><i class="icon outside"></i>71</div>
                    </li>
                    <li>
                        <div class="parkNumber">11985</div>
                        <div class="model text50 ellipsis">SJ III 3219</div>
                        <div class="level text50">3</div>
                        <div class="days text50"><i class="icon outside"></i>23</div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="avatar color1">JB</div>
                <ul class="machines">
                    <li>
                        <div class="transfer text50"><i class="icon transfer"></i></div>
                        <div class="parkNumber">9842</div>
                        <div class="model text50 ellipsis">ZEBRA 12</div>
                        <div class="days text50"><i class="icon outside"></i>24</div>
                        <div class="inventory text50"><i class="icon inventory"></i></div>
                        <div class="timer text50"><i class="icon timer"></i>768</div>
                    </li>
                    <li class="warning">
                        <div class="flag color1">A</div>
                        <div class="parkNumber">6897</div>
                        <div class="model text50 ellipsis">260 MRT</div>
                        <div class="level text50">4</div>
                        <div class="days text50"><i class="icon outside"></i>71</div>
                        <div class="inventory text50"><i class="icon inventory"></i></div>
                        <div class="timer text50"><i class="icon timer"></i>1251</div>
                    </li>
                    <li>
                        <div class="parkNumber">11985</div>
                        <div class="model text50 ellipsis">SJ III 3219</div>
                        <div class="level text50">3</div>
                        <div class="days text50"><i class="icon outside"></i>23</div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="avatar">D</div>
                <ul class="machines">
                    <li>
                        <div class="parkNumber">6897</div>
                        <div class="model text50 ellipsis">260 MRT</div>
                        <div class="level text50">1</div>
                        <div class="days text50"><i class="icon outside"></i>3</div>
                    </li>
                    <li>
                        <div class="parkNumber">9189</div>
                        <div class="model text50 ellipsis">3394 RT</div>
                        <div class="level text50">3</div>
                        <div class="days text50"><i class="icon outside"></i>45</div>
                    </li>
                    <li>
                        <div class="parkNumber">9165</div>
                        <div class="model text50 ellipsis">3394 RT</div>
                        <div class="days text50"><i class="icon outside"></i>15</div>
                    </li>
                    <li>
                        <div class="parkNumber">6471</div>
                        <div class="model text50 ellipsis">450 AJ II</div>
                        <div class="level text50">2</div>
                        <div class="days text50"><i class="icon outside"></i>118</div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="page list transports">
            <li>
                <div class="avatar color1">JB</div>
                <ul class="machines">
                    <li class="warning">
                        <div class="flag color2">B</div>
                        <div class="parkNumber">9842</div>
                        <div class="model text50 ellipsis">ZEBRA 12</div>
                        <div class="days text50"><i class="icon outside"></i>88</div>
                        <div class="inventory text50"><i class="icon inventory"></i></div>
                        <div class="timer text50"><i class="icon timer"></i>768</div>
                    </li>
                    <li>
                        <div class="parkNumber">6897</div>
                        <div class="model text50 ellipsis">260 MRT</div>
                        <div class="level text50">2</div>
                        <div class="days text50"><i class="icon outside"></i>4</div>
                        <div class="inventory text50"><i class="icon inventory"></i></div>
                    </li>
                    <li>
                        <div class="parkNumber">11985</div>
                        <div class="model text50 ellipsis">SJ III 3219</div>
                        <div class="days text50"><i class="icon outside"></i>659</div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="avatar color2">FD</div>
                <ul class="machines">
                    <li>
                        <div class="parkNumber">6897</div>
                        <div class="model text50 ellipsis">260 MRT</div>
                        <div class="level text50">1</div>
                        <div class="days text50"><i class="icon outside"></i>72</div>
                    </li>
                    <li>
                        <div class="transfer text50"><i class="icon transfer"></i></div>
                        <div class="parkNumber">9189</div>
                        <div class="model text50 ellipsis">3394 RT</div>
                        <div class="level text50">4</div>
                        <div class="days text50"><i class="icon outside"></i>66</div>
                        <div class="inventory text50"><i class="icon inventory"></i></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="pages">
        <span class="page active"></span>
        <span class="page"></span>
    </div>
</div>
