<h1>À préparer</h1>

<div class="counters">
    <div class="counter dark">
        <div class="label">Demain</div>
        <div class="number">6<div class="secondary">2</div></div>
    </div>
    <div class="counter medium">
        <div class="label">Après-demain</div>
        <div class="number">4<div class="secondary">1</div></div>
    </div>
    <div class="counter light">
        <div class="label">Lundi</div>
        <div class="number">12<div class="secondary">3</div></div>
    </div>
</div>

<div class="machines paging dynamic expanded">
    <div class="details body expanded">
        <ul class="page list machines">
            <li class="fresh">
                <div class="parkNumber">9842</div>
                <div class="model text50 ellipsis">ZEBRA 12</div>
                <div class="duration text50"><i class="icon duration"></i>13</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
            </li>
            <li class="fresh">
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="duration text50"><i class="icon duration"></i>26</div>
            </li>
            <li class="fresh">
                <div class="parkNumber">11985</div>
                <div class="model text50 ellipsis">SJ III 3219</div>
                <div class="duration text50"><i class="icon duration"></i>72</div>
                <div class="asbestos text50"><i class="icon asbestos"></i></div>
            </li>
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="duration text50"><i class="icon duration"></i>17</div>
            </li>
            <li>
                <div class="parkNumber">9189</div>
                <div class="model text50 ellipsis">3394 RT</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>10</div>
            </li>
            <li>
                <div class="parkNumber">9165</div>
                <div class="model text50 ellipsis">3394 RT</div>
                <div class="duration text50"><i class="icon duration"></i>65</div>
            </li>
            <li>
                <div class="parkNumber">6471</div>
                <div class="model text50 ellipsis">450 AJ II</div>
                <div class="duration text50"><i class="icon duration"></i>72</div>
            </li>
            <li>
                <div class="parkNumber">9842</div>
                <div class="model text50 ellipsis">ZEBRA 12</div>
                <div class="duration text50"><i class="icon duration"></i>96</div>
            </li>
            <li>
                <div class="parkNumber">6471</div>
                <div class="model text50 ellipsis">450 AJ II</div>
                <div class="duration text50"><i class="icon duration"></i>72</div>
            </li>
            <li>
                <div class="parkNumber">9842</div>
                <div class="model text50 ellipsis">ZEBRA 12</div>
                <div class="duration text50"><i class="icon duration"></i>96</div>
            </li>
        </ul>
        <ul class="page list machines">
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>189</div>
            </li>
            <li>
                <div class="parkNumber">11985</div>
                <div class="model text50 ellipsis">SJ III 3219</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>41</div>
            </li>
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="duration text50"><i class="icon duration"></i>30</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">9189</div>
                <div class="model text50 ellipsis">3394 RT</div>
                <div class="duration text50"><i class="icon duration"></i>19</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>189</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">11985</div>
                <div class="model text50 ellipsis">SJ III 3219</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>41</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="duration text50"><i class="icon duration"></i>30</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">9189</div>
                <div class="model text50 ellipsis">3394 RT</div>
                <div class="duration text50"><i class="icon duration"></i>19</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="duration text50"><i class="icon duration"></i>30</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">9189</div>
                <div class="model text50 ellipsis">3394 RT</div>
                <div class="duration text50"><i class="icon duration"></i>19</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
        </ul>
        <ul class="page list machines">
            <li>
                <div class="parkNumber">6897</div>
                <div class="model text50 ellipsis">260 MRT</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>189</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
            <li>
                <div class="parkNumber">11985</div>
                <div class="model text50 ellipsis">SJ III 3219</div>
                <div class="electrical text50"><i class="icon electrical"></i></div>
                <div class="duration text50"><i class="icon duration"></i>41</div>
                <div class="anticipated text50"><i class="icon anticipated"></i></div>
            </li>
        </ul>
    </div>

    <div class="pages">
        <span class="page"></span>
        <span class="page"></span>
        <span class="page active"></span>
    </div>
</div>
