@font-face
{
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("fa-regular-400.woff2") format("woff2");
}

@font-face
{
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("fa-solid-900.woff2") format("woff2");
}
