@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro ExtraLight Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Light Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Semibold Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Bold Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-1F16B;
}

@font-face {
    font-family:'AI Source Sans Pro';
    src: url('Source Sans Pro Black Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
